*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $ff-basic;
  font-size: $fz-basic;
  line-height: $lh-basic;
  color: $color-paragraph;
  background-color: $color-background;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
