.about {
  // .about__container
  &__container {
    //
  }
  // .about__title
  &__title {
    //
  }
  // .about__list
  &__list {
    //
  }
  // .about__item
  &__item {
    // .about__item::after
    &::after {
      content: "";
      display: block;
      background-color: $color-accent;
      background-image: var(--icon);
      background-repeat: no-repeat;
      background-position: center;
      background-size: var(--icon-size);
      width: 60px;
      height: 60px;
    }

    // .about__item--useful-composition
    &--useful-composition {
      --icon: url("../../icons/stack.svg#icon-leaf");
      --icon-size: 30px 32px;
    }
    // .about__item--release-form
    &--release-form {
      --icon: url("../../icons/stack.svg#icon-powder");
      --icon-size: 27px 29px;
    }
    // .about__item--how-to-apply
    &--how-to-apply {
      --icon: url("../../icons/stack.svg#icon-tableware");
      --icon-size: 26px 30px;
    }
    // .about__item--enjoy-result
    &--enjoy-result {
      --icon: url("../../icons/stack.svg#icon-watch");
      --icon-size: 27px 31px;
    }
  }
}
