.button {
  background-color: transparent;
  color: inherit;
  font-family: $ff-accent;
  font-size: $fz-button;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;

  // .button--primary
  &--primary {
    background-color: $color-accent;
    color: $color-on-accent;

    &:focus-visible,
    &:hover {
      background-color: $color-accent-hight;
    }

    &:active {
      color: color-mix(in sRGB, $color-on-accent 30%, transparent);
    }
  }

  // .button--secondary
  &--secondary {
    background-color: $color-surface;
    color: $color-on-surface;

    &:focus-visible,
    &:hover {
      background-color: $color-button-seconady-hover;
    }

    &:active {
      color: color-mix(in sRGB, $color-on-surface 30%, transparent);
    }
  }

  &:disabled {
    filter: opacity(30%);
    pointer-events: none;
  }
}
