.button {
  background-color: transparent;
  color: inherit;
  font-family: $ff-accent;
  font-size: $fz-button;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:focus-visible {
    //
  }

  &:hover {
    //
  }

  &:active {
    //
  }

  &:disabled {
    //
  }

  // .button--primary
  &--primary {
    background-color: $color-accent;
    color: $color-on-accent;
  }

  // .button--secondary
  &--secondary {
    background-color: $color-surface;
    color: $color-on-surface;
  }
}
