.category {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-areas:
    "icon title"
    "text text"
    "link link";
  gap: 15px 20px;
  padding: 24px 20px 18px;
  background-color: $color-surface;

  // .category::before, .category::after
  &::before,
  &::after {
    content: "";
    display: block;
    grid-area: icon;
    place-self: center center;
  }

  // .category::before
  &::before {
    width: 50px;
    height: 50px;
    background-color: $color-accent;
    border-radius: 50%;

    @include tablet() {
      margin-top: -10px;
    }

    @include desktop() {
      margin-top: 0;
    }
  }

  // .category::after
  &::after {
    background-image: var(--icon);
  }

  // .category--slim
  &--slim {
    --icon: url("../../icons/stack.svg#icon-cat-slim");

    &::after {
      width: 36px;
      height: 50px;
      transform: translateY(-3px);
      aspect-ratio: 36 / 50;
    }
  }

  // .category--pro
  &--pro {
    --icon: url("../../icons/stack.svg#icon-cat-pro");

    &::before {
      margin-left: 1px;
    }

    &::after {
      width: 67px;
      height: 28px;
    }
  }

  @include tablet() {
    grid-template-areas:
      "title icon"
      "text  icon"
      "link  icon";
    grid-template-columns: minmax(340px, 1fr) 200px;
    gap: 24px 53px;
    padding: 77px 63px 53px 52px;

    &::before,
    &::after {
      //
    }

    &::before {
      width: 200px;
      height: 200px;
    }

    &--slim::after {
      width: 140px;
      height: 194px;
      transform: translateY(-19px);
    }

    &--pro::before {
      margin-top: -12px;
      margin-left: 0;
    }

    &--pro::after {
      width: 268px;
      height: 112px;
      transform: translate(2px, -6px) scale(1.01, 1.01);
    }
  }

  @include desktop() {
    grid-template-areas:
      "icon title"
      "text text"
      "link link";
    grid-template-columns: 100px 1fr;
    gap: 23px 62px;
    padding: 47px 61px 55px 52px;

    &::before,
    &::after {
      //
    }

    &::before {
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      width: 70px;
      height: 97px;
      transform: translateY(-8px);
    }

    &--pro::before {
      margin-top: 0;
    }

    &--pro::after {
      width: 134px;
      height: 56px;
      transform: scale(1.02, 1.01) translate(-1px, -2px);
    }
  }

  // .category__title
  &__title {
    grid-area: title;
    align-self: center;
    margin: 0;
    color: $color-title;
    font-family: $ff-accent;
    font-size: $fz-h2;
    font-weight: 400;
    line-height: 1.54;
    text-transform: uppercase;

    @include tablet() {
      font-size: 36px;
      line-height: 1;
    }
  }

  // .category__description
  &__description {
    grid-area: text;
    margin: 0;
    padding: 7px 0 22px;
    border-bottom: 1px solid $color-border-lower;

    @include tablet() {
      font-size: 16px;
      line-height: 1.5;
      padding: 0;
      border-bottom: none;
    }

    @include desktop() {
      margin-top: 16px;
    }
  }

  // .category__link
  &__link {
    --arrow-line-width: 18px;
    --arrow-width: 32px;
    --link-gap: 15px;

    grid-area: link;
    justify-self: start;
    position: relative;
    margin-top: auto;
    padding: 4px 0;
    padding-right: calc(var(--link-gap) + var(--arrow-width));
    color: $color-link;
    font-family: $ff-accent;
    font-size: $fz-button;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15;

    // .category__link::before, .category__link::after
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    // .category__link::before
    &::before {
      left: calc(100% - var(--arrow-width));
      width: var(--arrow-line-width);
      height: 2px;
      background-color: $color-link;
    }

    // .category__link::after
    &::after {
      left: calc(100% - var(--arrow-width) + var(--arrow-line-width));
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 7px solid $color-link;
      width: 0;
      height: 0;
    }

    &:hover,
    &:focus-visible {
      --arrow-line-width: 26px;
    }

    &:active {
      filter: opacity(30%);
    }

    @include tablet() {
      --link-gap: 25px;

      font-size: 20px;
      line-height: 1.5;
      margin-top: 24px;
    }

    @include desktop() {
      margin-top: 0;
    }
  }
}
