.categories {
  @include tablet() {
    //
  }

  @include desktop() {
    //
  }

  // .categories__container
  &__container {
    //
  }
  // .categories__list
  &__list {
    display: grid;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include tablet() {
      gap: 30px;
    }

    @include desktop() {
      grid-template-columns: 1fr 1fr;
      gap: 80px;
    }
  }
  // .categories__item
  &__item {
    //
  }
}
