.field {
  color: inherit;
  font-family: $ff-accent;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  border: 1px solid $color-border;
  padding: 12px;

  &:focus {
    border: 2px solid $color-title;
    padding: 11px;
  }
}
