.logo {
  text-decoration: none;

  @include tablet() {
    display: flex;
    align-items: center;
    column-gap: 13px;
  }

  &:hover,
  &:focus-visible {
    filter: opacity(80%);
  }

  &:active {
    filter: opacity(60%);
  }

  picture {
    width: fit-content;
  }

  // .logo__icon
  &__icon {
    position: relative;
    display: block;
    z-index: 1;
  }

  // .logo__text
  &__text {
    display: block;
    width: 101px;
    height: 18px;
    z-index: 1;
    max-width: unset;
    justify-self: center;

    @include desktop() {
      width: 118px;
      height: 24px;
    }
  }
}
