.logo {
  text-decoration: none;

  &:hover,
  &:focus-visible {
    filter: opacity(80%);
  }

  &:active {
    filter: opacity(60%);
  }

  // .logo__icon
  &__icon {
    //
  }
  // .logo__text
  &__text {
    //
  }
}
