.page {
  // .page__body
  &__body {
    //
  }
  // .page__title
  &__title {
    color: $color-title;
    font-family: $ff-accent;
    font-weight: 400;
    font-size: $fz-h1;
    line-height: $lh-h1;

    @include tablet() {
      font-size: 60px;
      line-height: 1;
    }
  }

  // .page__subtitle
  &__subtitle {
    color: $color-title;
    font-family: $ff-accent;
    font-weight: 400;
    font-size: $fz-h2;
    line-height: $lh-h2;
  }

  // .page__main
  &__main {
    //
  }

  // .page__hero
  &__hero {
    margin-bottom: 20px;

    @include tablet() {
      margin-bottom: 0;
    }

    @include desktop() {
      margin-bottom: 82px;
    }
  }

  // .page__categories
  &__categories {
    margin: 20px 0;

    @include tablet() {
      margin: 0;
    }

    @include desktop() {
      margin: 71px 0;
    }
  }

  // .page__about
  &__about {
    margin: 20px 0;

    @include tablet() {
      margin: 45px 0;
    }

    @include desktop() {
      margin: 69px 0;
    }
  }

  // .page__experience
  &__experience {
    margin-top: 49px;

    @include tablet() {
      margin-top: 47px;
    }

    @include desktop() {
      margin-top: 69px;
    }
  }
}
