.special-offer {
  --gift-bg:
    image-set(
      url("../../images/gift-background-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/gift-background-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/gift-background-mobile@1x.png") type("image/png") 1x,
      url("../../images/gift-background-mobile@2x.png") type("image/png") 2x
    );

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 46px;
  padding: 60px 61px 43px 58px;
  text-align: center;
  color: $color-on-accent;
  background-color: $color-accent-limpid;
  background-image: linear-gradient($color-accent-limpid, $color-accent-limpid), var(--gift-bg);
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center bottom;
  background-size: contain, cover;

  // .special-offer::before
  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 81px;
    background-image: url("../../icons/stack.svg#icon-gift");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 57px 61px;
    transform: translateY(-6px);
  }

  @include tablet() {
    --gift-bg:
      image-set(
        url("../../images/gift-background-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/gift-background-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/gift-background-tablet@1x.png") type("image/png") 1x,
        url("../../images/gift-background-tablet@2x.png") type("image/png") 2x
      );

    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    min-height: 200px;
    margin-left: 1px;
    padding: 22px 10px 20px 20px;
    gap: 90px;
    background-position: center center, 1px -304px;

    &::before {
      width: 78px;
      height: 82px;
    }
  }

  @include desktop() {
    --gift-bg:
      image-set(
        url("../../images/gift-background-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/gift-background-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/gift-background-desktop@1x.png") type("image/png") 1x,
        url("../../images/gift-background-desktop@2x.png") type("image/png") 2x
      );

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 46px;
    min-height: 288px;
    padding: 56px 38px 43px;
    transform: translate(1px, 1px);
    margin-left: 0;
    background-position: center center, right -5px center;

    &::before {
      width: 78px;
      height: 83px;
      transform: translateY(-2px);
    }
  }

  // .special-offer__text
  &__text {
    font-size: $fz-h3;
    line-height: $lh-h3;
    margin: 0;

    @include tablet() {
      max-width: 161px;
      text-align: left;
    }

    @include desktop() {
      text-align: center;
    }
  }
}
