.special-offer {
  color: $color-on-accent;
  background-color: $color-accent-limpid;

  // .special-offer::before
  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 81px;
    background-image: url("../../icons/stack.svg#icon-gift");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 57px 61px;
  }

  // .special-offer__text
  &__text {
    font-size: $fz-h3;
    line-height: $lh-h3;
  }
}
