.subscribe {
  // .subscribe__title
  &__title {
    //
  }
  // .subscribe__text
  &__text {
    color: $color-title;
    font-family: $ff-accent;
    font-size: $fz-h3;
    line-height: 1.5;
  }
  // .subscribe__form
  &__form {
    //
  }
  // .subscribe__input
  &__input {
    //
  }
  // .subscribe__button
  &__button {
    font-size: 20px;
    line-height: 1.3;
  }
}
